# compiled output
/dist
/backend/node_modules

# Ignore node_modules in both backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Ignore build and temp files
/backend/dist/
/frontend/dist/
/frontend/out-tsc/
/backend/.cache/
/frontend/.cache/
/backend/logs/
/backend/temp/

# Ignore TypeScript compiled files
/backend/**/*.js
/backend/**/*.d.ts
/frontend/**/*.js
/frontend/**/*.d.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore temporary and system files
*.swp
*.tmp
.DS_Store
Thumbs.db

# Ignore MinIO related files
/backend/data/.minio.sys/
/backend/data/.minio.sys/buckets/
/backend/data/.minio.sys/buckets/.bloomcycle.bin
/backend/data/.minio.sys/buckets/.tracker.bin