.home {
    padding: 0;
    margin: 0;
    display: flex;

    background-color: #F1F4F5;
}

.content {
    flex-grow: 1; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap; // Allow wrapping for the blocks
    padding: 20px;
}

.blocks {
    justify-content: center;
    display:inline-flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    width: 100%;
}
.header-content{
    display: flex;
}