<div class="login">
    <div class="login-container">
        <h1>
            Войти
        </h1>
        <div class="login-sign-up">
            <div class="login-sign-up-container">
                <p>Новый пользователь?</p>
                <button [routerLink]="['/registration']">
                    Создать учетную запись
                </button>
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="login-inputs">
                <label for="email">Почта</label>
                <input id="email" type="text" placeholder="example@gmail.com" formControlName="email">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                    <div *ngIf="email?.errors?.['required']">Поле обязательно для заполнения.</div>
                    <div *ngIf="email?.errors?.['minlength']">Неверный формат почты.</div>
                </div>
                <label for="password">Пароль</label>
                <input id="password" type="password" placeholder="ABC@#$!12" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
                    <div *ngIf="password?.errors?.['required']">Поле обязательно для заполнения.</div>
                    <div *ngIf="password?.errors?.['minlength']">Пароль должен содержать минимум 6 символов.</div>
                </div>
            </div>
            <div class="login-action-container">
                <div class="login-remember-me">
                    Запомнить меня    
                    <input type="checkbox">
                </div>
                <button>
                    Забыл Пароль?
                </button>
            </div>
            <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
                Войти
            </button>
        </form>
    </div>
</div>
