<header>
 <div class="logo">
  <img src="/assets/logo-big.png" alt="logo"> 
 </div>
</header>
<div class="login">
    <div class="login-container">
      <h1>Регистрация</h1>
      <div class="login-sign-up">
        <div class="login-sign-up-container">
            <p>Уже есть аккаунт?</p>
            <button [routerLink]="['/auth/login']">
                Войти сейчас
             </button>
        </div>
    </div>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="login-inputs">
          <!-- Поле для ввода имени пользователя -->
          <label for="username">Имя пользователя</label>
          <input id="username" type="text" placeholder="Введите имя" formControlName="username">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-message">
            <div *ngIf="username?.errors?.['required']">Поле обязательно для заполнения.</div>
            <div *ngIf="username?.errors?.['minlength']">Имя должно содержать минимум 3 символа.</div>
          </div>
  
          <!-- Поле для ввода email -->
          <label for="email">Почта</label>
          <input id="email" type="text" placeholder="example@gmail.com" formControlName="email">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
            <div *ngIf="email?.errors?.['required']">Поле обязательно для заполнения.</div>
            <div *ngIf="email?.errors?.['email']">Неверный формат почты.</div>
          </div>
  
          <!-- Поле для ввода пароля -->
          <label for="password">Пароль</label>
          <input id="password" type="password" placeholder="Введите пароль" formControlName="password">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
            <div *ngIf="password?.errors?.['required']">Поле обязательно для заполнения.</div>
            <div *ngIf="password?.errors?.['minlength']">Пароль должен содержать минимум 6 символов.</div>
          </div>
        </div>
        <button type="submit" (click)="onRegister()" class="login-btn" [disabled]="registerForm.invalid">
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
  