#root{
    background-color: #f5f5f5;
    overflow: hidden;
}
header{
    display: flex;
    padding:20px;
    border-bottom:#ccc solid 1px;
}
.logo{
    img{
        width:200px;
        height:70px;
    }
}
.login {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
     // Центрируем по вертикали
     // Светлый фон
    .login-container {
      position: relative;
      background-color: white; // Белы'й фон для формы
      padding: 50px; // Отступы
      border-radius: 8px; // Закругленные углы// Тень
      width: 500px; // Ширина формы
      text-align: left; // Выравнивание текста по центру
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      h1 {
        font-size: 2rem; // Размер заголовка
        margin-bottom: 1.5rem; // Отступ снизу
        color: #333; // Цвет текста
      }
      .subtitle{
        font-family: sans-serif;
        font-weight:500;
      }
      .login-sign-up {
        margin: 1.5rem 0; // Отступ снизу
        
        .login-sign-up-container {
            display: flex;
            align-items:center;
            gap: 10px;
            p {
                margin: 0; // Убираем отступы
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #666; // Цвет текста
            }
    
            button {
                border:none;
                outline: none;
                background-color:#fff; // Указатель при наведении
                color: #2f70ff;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                &:hover {
                cursor: pointer;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
          }
        }
      }
      .login-action-container{
        display: flex;
        justify-content: space-between;
        margin-top:20px;
        align-items: center;
        .login-remember-me{
            display: flex;
            align-items:flex-end;
            gap: 10px;   
        }
        button{
            border:none;
            outline: none;
            background-color:#fff; // Указатель при наведении
            color: #2f70ff;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            &:hover {
            cursor: pointer;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            }
        }
      .login-inputs {
        max-width:450px;
        display: flex;
        flex-direction:column;
        gap:5px; // Отступ снизу
        input {
          max-width:400px;
          width:100%; // Ширина 100%
          padding: 15px; // Отступы внутри
          border: 1px solid #ddd; // Цвет рамки
          border-radius: 5px; // Закругленные углы
          margin-bottom: 1rem; // Отступ снизу
          font-size: 1rem; // Размер текста
        }
      }
  
      .login-btn {
        width: 100%; 
        margin-top:20px;
        padding:20px; // Отступы внутри
        background-color: #10af90; // Цвет кнопки
        color: white; // Цвет текста на кнопке
        border: none; // Убираем рамку
        border-radius: 12px; 
        cursor: pointer; // Указатель при наведении
        font-size:18px;
        transition:.2s all ease;
        &:hover {
            transition:.2s all ease;
            background-color:#0e8d75; // Цвет кнопки при наведении
        }
        
      }
    }
  }
  